<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="assets/images/img_1.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    Qatar2022
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active">
        <a class="nav-link" routerLink="" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item " >
        <a class="nav-link"routerLink="equipe" routerLinkActive="active">EQUIPE </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link"routerLink="joueur" routerLinkActive="active">JOUEUR</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="match" routerLinkActive="active">MATCH</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="arbitre" routerLinkActive="active">ARBITRE</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-primary-success btn btn-primary" type="submit">Search</button>
    </form>
  </div>
</nav>

