<p>equipes works!</p>

<div class="card my-5">
 <div class="card-body">
 <table class="table table-bordered table-striped">
 <thead class="thead-dark">
 <tr>
 <th scope="col">ID</th>
 <th scope="col">NOM</th>
 <th scope="col">EFFECTIF</th>

 <th scope="col">IMAGE</th>
 </tr>
 </thead>
 <tbody>
 <tr *ngFor="let Equipes of equipes">
 <td>{{ Equipes.id   }}</td>
 <td>{{ Equipes.nom }}</td>
 <td>{{ Equipes.effectif }}</td>


 <td>
  <img src="assets/images/img_4_sq.jpg" style="height: 50px;width: 50px;">
</td>

 </tr>
 </tbody>
 </table>
 </div>
 </div>
