<p>joueurs works!</p>

<div class="card my-5">
  <p>TOUS LES Joueurs :</p>
  <div class="card-body">
  <table class="table table-bordered table-striped">
  <thead class="thead-dark">
  <tr>
  <th scope="col">ID</th>
  <th scope="col">NOM</th>
  <th scope="col">Prenom</th>
  <th scope="col">Numero</th>
  <th scope="col">IMAGE</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let Joueurs of joueur">
  <td>{{ Joueurs.id }}</td>
  <td>{{ Joueurs.nom }}</td>
  <td>{{ Joueurs.prenom }}</td>
  <td>{{ Joueurs.numero }}</td>


<td>
  <img src="assets/images/img_4_sq.jpg" style="height: 50px;width: 50px;">
</td>

  </tr>
  </tbody>
  </table>
  </div>
  </div>
