<p>matchs works!</p>


<div class="card my-5">
 <div class="card-body">
 <table class="table table-bordered table-striped">
 <thead class="thead-dark">
 <tr>
 <th scope="col">ID</th>
 <th scope="col">stade</th>
 <th scope="col">date</th>


 <th scope="col">IMAGE</th>
 </tr>
 </thead>
 <tbody>
 <tr *ngFor="let matches of matche">
 <td>{{ matches.id   }}</td>
 <td>{{ matches.stade }}</td>
 <td>{{ matches.date }}</td>

 <td>
  <img src="assets/images/img_4_sq.jpg" style="height: 50px;width: 50px;">
</td>



 </tr>

 </tbody>
 </table>
  </div>
 </div>
